[submodule "tux-sudo/themes/hucore"]
	path = tux-sudo/themes/hucore
	url = https://github.com/mgjohansen/hucore.git
[submodule "tux-sudo/themes/kiss"]
	path = tux-sudo/themes/kiss
	url = https://github.com/ribice/kiss.git
[submodule "tux-sudo/themes/hugo-alageek-theme"]
	path = tux-sudo/themes/hugo-alageek-theme
	url = https://github.com/gkmngrgn/hugo-alageek-theme.git
[submodule "tux-sudo/themes/LoveIt"]
	path = tux-sudo/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "tux-sudo/themes/solar-theme-hugo"]
	path = tux-sudo/themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "tux-sudo/themes/beautifulhugo"]
	path = tux-sudo/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
